/* Grid layout */
.head {
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr .25fr;
    /* grid-template-areas: 
        "left about  pic right"
        ". skills skills ."
        ; */
    width: 100%;
    margin: 50px 0 100px;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

.openElementItem {
    /* grid-area: left; */
    height: auto;
    margin-left: 10vw;
    font-size: 100px;
}

.aboutItem {
    /* grid-area: about; */
    grid-column-start: 2;
    /* grid-row-start: 1;
    grid-row-end: 5; */
}

.profileItem {
grid-column-start: 3;
grid-column-end: 4;
}

.michaelPic {
    margin: 38px 0 0;
    width: 30vw;
    min-width: 300px;
    height:30vw;
    min-height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    margin: .6em 0em 0em;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    background-color:transparent;
}

.title {
    margin:  2px 0 20px;
}

.closedElementItem {
    grid-column-start: 4;
    /* grid-row-start: 1; */
    /* height: auto; */
    /* margin-right: 50px; */
    font-size: 100px;
}

.backslashSubitem {
    font-size: 150px;
}

.skillsItem {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 20px;
    margin: 0 10px 30px 10px;
}
.skillsItem:hover {
    cursor: default;
}

.skillsItemTitle {
    font-weight: 300;
}

.htmlLogo {
    margin-right: 20px;
    transition: 500ms ease-in-out;
}

.htmlLogo:hover {
    color: orange;
    transition: 500ms ease-in-out;
}

.cssLogo {
    margin-right: 20px;
    transition: 500ms ease-in-out;
}

.cssLogo:hover {
    color: rgb(0, 162, 255);
    transition: 500ms ease-in-out;
}

.jsLogo {
    margin-right: 20px;
    transition: 500ms ease-in-out;
}

.jsLogo:hover {
    color: rgb(255, 255, 0);
    transition: 500ms ease-in-out;
}

.reactLogo {
    margin-right: 20px;
    transition: 500ms ease-in-out;
}

.reactLogo:hover {
    color: rgb(0, 225, 255);
    transition: 500ms ease-in-out;
}

