/* Grid layout */
.head {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 50px 0 175px;
    align-items: center;
    color: white;
}

.aboutItem {
    grid-column-start: 2;
}

.profileItem {
grid-column-start: 3;
grid-column-end: 5;
}

.michaelPic {
    margin: 38px 0 0;
    width: 460px;
    height: 460px;
    object-fit: cover;
    border-radius: 50%;

}

.name {
    margin: .6em 0em 0em;
    color: rgb(255, 255, 255);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    background-color:transparent;
}

.title {
    margin:  2px 0 20px;
    font-family: 'Chakra Petch', sans-serif;
}
