/* Grid layout */
.head {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr .25fr;
    width: 100%;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

.openElementItem {
    margin-left: 10vw;
    font-size: 100px;
}

.aboutItem {
    grid-column-start: 2;
}

.profileItem {
grid-column-start: 3;
grid-column-end: 4;
}

.michaelPic {
    margin: 38px 0 0;
    width: 30vw;
    min-width: 300px;
    height:30vw;
    min-height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    margin: .6em 0em 0em;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    background-color:transparent;
}

.title {
    margin:  2px 0 20px;
}

.closedElementItem {
    grid-column-start: 4;
    font-size: 100px;
}

.backslashSubitem {
    font-size: 150px;
}

.skillsItemContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 25px;
    margin: 0 10px 30px 10px;
}
.skillsItem:hover {
    cursor: default;
}

.skillsItemTitle {
    font-size: 40px;
    font-weight: 300;
}

.htmlLogo {
    margin-right: 20px;
}

.htmlLogo:hover {
    color: orange;
}

.cssLogo {
    margin-right: 20px;
}

.cssLogo:hover {
    color: rgb(0, 162, 255);
}

.jsLogo {
    margin-right: 20px;
}

.jsLogo:hover {
    color: rgb(255, 255, 0);
}

.reactLogo {
    margin-right: 20px;
}

.reactLogo:hover {
    color: rgb(0, 225, 255);
}

.skillItem {
    transition: 500ms ease-in-out;
}

.skillItem:hover {
    transition: 500ms ease-in-out;
}

