.resume {
    display:inline-block;
    width: 100%;
    text-align: center;
    margin: 25px 0;
    padding: 10px 0;
}
.resumeButton {
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 6px solid rgb(107, 0, 201); 
    transition: background-color .5s ease-in-out
}

.resumeButton:hover {
    background-color:blueviolet;
    transition: background-color .5s ease-in-out;
    
}