.portfolioLineContainer {
    background-color: transparent;
}

.portfolioLine {
    border-bottom: solid 1px grey;
    width: 75vw;
    height: 50px;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.portfolioContainer {
    color: white;
    background-color: transparent;
}

.portfolio {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 36px;
    /* color: white; */
    margin: 0 auto 80px;
}

.portfolioTitle {
    position:relative;
    text-align: center;
    width: 200px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    font-style: italic;
    margin: auto;
    background-color: rgb(23, 23, 23);
}

.portfolioItem {
    color: white;
    /* flex-basis: 255px; */
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* padding: 13px; */
    /* padding-bottom: 20px; */
    margin-top: 20px;
    /* margin-bottom: 48px; */
    /* border-radius: 3%; */
    /* background-color: rgb(43, 43, 43); */
    text-decoration: none;
    transition: box-shadow .5s ease-in-out;
}

.portfolioItem:hover {
    box-shadow: 0 0 15px rgba(0, 133, 255, 0.5);
    transition: box-shadow .5s ease-in-out;
}

.portfolioImg {
    width: 45%;
    height: auto;
    align-self: center;
    object-fit: cover;
}

#itemText {
    /* height: 94px; */
    width: 45%;
    /* margin-left: 10px; */
    font-family: 'Chakra Petch', sans-serif;
    text-align: left;
    text-decoration: none;
}

.projTitle {
    /* width: 45%; */
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
    /* font-weight: 100; */
    /* text-align: center; */
    text-decoration: none;
    /* border-bottom: 1px solid grey; */
    /* margin: 0 25px; */
    /* border-image-source: linear-gradient(to bottom right, rgb(66, 205, 255), rgb(0, 0, 255) );
    border-image-slice: 4; */
}

.itemDescription {
    font-size: 16px;
    /* padding: 3px 8px; */
}

.techUsed {
    font-size: 25px;
    font-style: italic;
    margin-top: 16px;
    /* display: inline-flex; */
    /* gap: 25px; */
    /* padding: 0 8px; */
    /* margin-bottom: 10px; */
    /* border-top: 1px solid grey; */
    /* justify-content: center; */
}

