.about {
    color: white;
    text-align: center;
}

.aboutTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    border: solid 6px ; /*placeholder section separator*/
    border-image-source: linear-gradient(to bottom right, rgb(66, 205, 255), rgb(0, 0, 255) );
    border-image-slice: 4;
    margin-bottom: 8px;
}

.aboutText {
    font-family: 'Inter', sans-serif;
    margin: 8px 5%;
    text-align: left;
    text-indent: 2rem;
}